<header>
  <div class="skip-link"> <a href='#main' id="main-link">Skip to Main Content</a> </div>
  <div id="hd-top"></div>
  <div id="hd-contents" class="place-nav">
    <a class="logo" href="/" aria-label="home page">
      <img alt="logo" src='{{ "/images/logo.png" | urls.AbsURL }}' />
      <img alt="logo" src='{{ "/images/logo-white.png" | urls.AbsURL }}' />
    </a>
    <div class="hd-right">
      <div class="hd-mid">
        <div class="hd-info">
          <a href="tel:+18436547300" class="pho"><i class="icon-mobile"></i>(843) 654-7300</a>
          <span class="bubble"><img src='{{ "/images/bubble-header.png" | urls.AbsURL }}' alt=""></span>
          <a href="https://maps.app.goo.gl/VgQJnWhprdeHN1tN6" class="phy" target="_blank"><i class="icon-location"></i>882 Whipple Rd, Mt Pleasant, SC 29464</a>
        </div>
        <nav id="main-nav" tabindex="-1">
          <ul>
            <li><a href="/" title="">Home</a></li>
            <li><a href="/about-us" title="">About Us</a>
              <ul>
                <li><a href="/about-us" title="">What Sets Us Apart</a></li>
                <li><a href="/meet-our-dentists" title="">Meet Our Dentists</a>
                  <ul>
                    <li><a href="/dr-gibson" title="">Dr. Gibson</a></li>
                    <li><a href="/dr-caouette" title="">Dr. Caouette</a></li>
                    <li><a href="/dr-durlach" title="">Dr. Durlach</a></li>
                    <li><a href="/dr-connar" title="">Dr. Connar</a></li>
                    <li><a href="/dr-herbert" title="">Dr. Herbert</a></li>
                    <li><a href="/dr-miki" title="">Dr. Miki</a></li>
                  </ul>
                </li>
                <li><a href="/meet-our-team" title="">Meet Our Team</a></li>
                <li><a href="/tour-our-office" title="">Tour Our Office</a></li>
                <li><a href="/advanced-dental-technology" title="">Advanced Dental Technology</a></li>
              </ul>
            </li>
            <li><a href="/our-services" title="">Our Services</a>
              <ul>
                <li><a href="/preventive-dentistry" title="">I Need a Checkup & Cleaning</a></li>
                <li><a href="/childrens-dentistry" title="">I Am Looking for a Dentist for My Child</a></li>
                <li><a href="/gum-disease-treatment" title="">I Am Worried About Gum Disease</a></li>
                <li><a href="/restorative-dentistry" title="">I Have a Cavity or Broken Tooth</a></li>
                <li><a href="/missing-teeth" title="">I Am Missing One or More Teeth</a>
                  <ul>
                    <li><a href="/dental-implants" title="">Dental Implants</a></li>
                  </ul>
                </li>
                <li><a href="/cosmetic-dentistry" title="">I Want to Enhance My Smile</a></li>
                <li><a href="/orthodontics" title="">I Want a Straighter Smile</a></li>
                <li><a href="/sedation-dentistry" title="">I am Scared of the Dentist</a></li>
                <li><a href="/tmj-therapy" title="">I Have Jaw Pain</a></li>
                <li><a href="/sleep-apnea-treatment" title="">I Am Worried About Sleep Apnea</a></li>
                <li><a href="/emergency-dentistry" title="">I Have a Dental Emergency</a></li>
              </ul>
            </li>
            <li><a href="/for-patients" title="">For Patients</a>
              <ul>
                <li><a href="/for-patients" title="">Your First Visit</a></li>
                <li><a href="/for-patients#forms" title="">Patient Forms</a></li>
                <li><a href="/for-patients#insurance" title="">Insurance & Financing</a></li>
                <li><a href="/special-offers" title="">Special Offers</a></li>
              </ul>
            </li>
            <li><a href="/reviews" title="">Reviews</a>
              <ul>
                <li><a href="/reviews" title="">Written Reviews</a></li>
                <li><a href="/video-testimonials" title="">Video Testimonials</a></li>
              </ul>
            </li>
            <li><a href="/contact" title="">Contact</a>
              <ul>
                <li><a href="/contact" title="">Office Info</a></li>
                <li><a href="/request-an-appointment" title="">Request an Appointment</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="hd-btns">
        <a href="/request-an-appointment" class="btn ra"><span>Request an </span> Appointment</a>
      </div>
    </div>
  </div>
</header>